body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    font-weight: 600;
    background: url(formatura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#calendar-container {
    color: #ffffff;
    border: 1px solid #56666B;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1), 0.1;
    border-radius: 50px;
    background: transparent;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

#calendar-header button {
    background-color: #56666B;
    border: none;
    cursor: pointer;
}

#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    margin: 5px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #56666B;
    width: clamp(40px, 10svw, 100px);
    height: clamp(30px, 7.5svw, 75px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #56666B;
    width: clamp(40px, 10svw, 100px);
    height: clamp(30px, 3.5svw, 75px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    background-color: #383838;
}

.day span {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    display: block;
    font-size: clamp(5px, 5px + 40%, 16px);
    padding: 0px;
    margin: 0px;
}

.day p {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    margin: 0;
    font-size: clamp(5px, 5px + 80%, 1rem);
    padding: 0px;
    margin: 0px;
    margin-top: auto;
    filter: drop-shadow(1px 1px  #383838);
    -webkit-filter: drop-shadow(1px 1px #383838); 
}

.day:nth-child(-n+7) {
    height: clamp(25px, 2.5svw, 25px);
    padding-top: 10px;
}

@media (max-width: 700px) {
    .country {
        display: none;
    }
}

#calendar-footer {
    text-align: center;
}

button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgb(86, 102, 107);
    background: linear-gradient(180deg, rgba(86, 102, 107, 0.4822303921568627) 0%, rgba(86, 102, 107, 0.8463760504201681) 37%, rgba(86, 102, 107, 1) 100%);
    color: #ffffff;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    border-radius: 10px;
    text-shadow: 0px 0px 20px #4b4b4b;
    display: flex;
    align-items: center;
    color: inherit;
    transition: all 0.3s;
}

.current-day {
    border: 10px solid #990a0a;
    box-shadow: inset 0 0 10px #990a0a;
}

#legenda {
    display: flex;
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dad {
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;

    /* Estilos para a classe "dad" se necessário */
}

.mom {
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    /* Estilos para a classe "mom" se necessário */
}